.sysFelx {
  display: flex;
}

.sysInputFile {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.ImgSysTainer {
  display: flex;
}

.selected {
  background-color: #87cefa;
  color: red;
}

